<!-- ==================== NUTRITION ==================== -->
<section class="nutrition section">
    <div class="container">
        <div class="section_data">
            <h2 class="section_subtitle">Nutrition</h2>
            <div class="section_titles">
                <h1 class="section_title-border">Find what</h1>
                <h1 class="section_title">you Need</h1>
            </div>
        </div>

        <div class="pricing_container grid">
            <article class="pricing_card">
                <header class="pricing_header">
                    <div class="pricing_shape">
                        <img src="/img/pricing1.png" alt="" class="pricing_img">
                    </div>

                    <h1 class="pricing_title">Breakfast</h1>
                </header>
                <div id="breakfast">
                    <div class="food-items"></div>
                    <div class="add-food">
                        <button type="button" class="btn btn-success btn-sm">+</button>
                    </div>
                    <div class="total-calories">Total calories = <span>0</span></div>
                </div>
            </article>
            <article class="pricing_card pricing_card-active">
                <header class="pricing_header">
                    <div class="pricing_shape">
                        <img src="/img/pricing2.png" alt="" class="pricing_img">
                    </div>

                    <h1 class="pricing_title">Lunch</h1>
                </header>
                <div id="lunch">
                    <div class="food-items"></div>
                    <div class="add-food">
                        <button type="button" class="btn btn-success btn-sm">+</button>
                    </div>
                    <div class="total-calories text-black">Total calories = <span>0</span></div>
                </div>
            </article>
            <article class="pricing_card">
                <header class="pricing_header">
                    <div class="pricing_shape">
                        <img src="/img/pricing1.png" alt="" class="pricing_img">
                    </div>

                    <h1 class="pricing_title">Dinner</h1>
                </header>
                <div id="dinner">
                    <div class="food-items"></div>
                    <div class="add-food">
                        <button type="button" class="btn btn-success btn-sm">+</button>
                    </div>
                    <div class="total-calories">Total calories = <span>0</span></div>
                </div>
            </article>
        </div>
    </div>
</section>